[build-system]
requires = [
  "setuptools",
  "wheel",
  "mypy[mypyc]==1.19.1",
]

[tool.mypy]
files = ["typed_envs"]
ignore_missing_imports = true
pretty = true
show_error_codes = true
show_error_context = true

install_types = true
disable_error_code = ["assignment", "attr-defined"]
