[build-system]
requires = [
  "setuptools",
  "wheel",
  "mypy[mypyc]==1.19.1",
]

[tool.mypy]
files = ["typed_envs"]
pretty = true
ignore_missing_imports = true
show_error_codes = true
show_error_context = true
