name: MyPy

on:
  push:
    branches: [dev]
    paths:
      - '**.py'
      - '**/pytest.yaml'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master, dev ]
    paths:
      - '**.py'
      - '**/pytest.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        
    - name: Setup Python (faster than using Python container)
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - name: Install MyPy
      run: |
        python -m pip install --upgrade pip
        pip install mypy types-requests
    - name: Run MyPy
      run: mypy
